# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
.venv/
.virtualenv/

# data to ignore
data/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test result files
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv and Python version management tools
.python-version

# Environment variables and IDE configuration
.env
.env.*
*.env
*.env.*

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log
*.bak
*.swp
*.swo
*.orig
*.~*

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright type checker
.pyright/

# Django-specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask instance folder
instance/

# Scrapy items
.scrapy/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
*.lcov

# Encrypted files
*.key

# Backup files
*.~backup
*~.nib
*.bak

# Other temporary or unnecessary files
*.temp
*.cache
*.pytest_cache/
